<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>
          I am bored by convention. A common trait among gifted students, I started working at a law firm when I was 16 and began taking college classes to meet my high school requirements.  My motivation was a car and relief from the stiflingly rigid secondary school system.  When I enrolled in college full-time, I found learning by memorization to be pointless.  I thrive by doing and achieving results.  I took up coding as a hobby and decided to make it my career.  
        </p> 

        <p>
          I was accepted into the Start-Up Institute at age 21 to enhance my web development skills.  Their acceptance rate is 18%, and the average age of their students is 32.  Despite being the youngest participant, I have been a leader in team projects and in accomplishments, on the path to having 16+ functioning apps and having published my own ruby gem.  I have many ideas and lots of energy that I am anxious to dedicate to projects that stimulate me.
        </p>

        <%= render 'about_buttons' %>
        <%= render 'about_job_history' %>
        <%= render 'about_education' %>
      </div>
    </div>
  </div>
</div>